* {
  box-sizing: border-box;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

/* AC */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
    z-index: 10;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes coeur-anim {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 10;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.chargement {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.536);
  animation: disparition 3s linear;
  z-index: -11;
}
.chargement__cercle {
  width: 120px;
  height: 120px;
  border: 8px solid #eeeeee;
  border-radius: 50%;
  border-top-color: #9356DC;
  border-bottom-color: #FF79DA;
  animation: spin 3s linear;
  z-index: -12;
}

.header {
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 5px 0px #CCCCCC;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header__nav__img {
  height: 51%;
}

main {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.recherche {
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recherche__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37%;
}
.recherche__form__input {
  width: 100%;
  height: 17px;
  border: none;
  background-color: #EAEAEA;
  text-align: center;
}
.recherche__form__input::before {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  font-weight: 900;
  font-size: 25px;
  color: red;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 285px;
  background-color: #F6F6F6;
  box-shadow: 0 -1px 4px #EAEAEA;
}
.presentation__titre {
  height: 55px;
  margin: 38px 0 19px;
  font-size: 24px;
  font-weight: 600;
}
.presentation__paragraphe {
  font-size: 18px;
  font-weight: 200;
  margin: 0 0 30px;
}
.presentation__btn {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 2px 5px 9px #CACACB;
  text-decoration: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 400;
  padding: 15px 20px;
  position: relative;
  z-index: 1;
}
.presentation__btn:hover {
  box-shadow: 3px 6px 10px #aaaaaa;
}
.presentation__btn:hover::after {
  opacity: 1;
}
.presentation__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: radial-gradient();
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.fonctionnement {
  height: 440px;
  margin: 0 20px;
}
.fonctionnement__titre {
  margin: 50px 0 30px;
}
.fonctionnement__consigne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 270px;
  width: 100%;
  padding: 0;
  margin: 0;
  counter-reset: my-awesome-counter;
  list-style: none;
  position: relative;
}
.fonctionnement__consigne__bloc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 97%;
  background-color: #F6F6F6;
  box-shadow: 2px 5px 10px #e7e6e9;
  border-radius: 25px;
  height: 75px;
  position: relative;
  counter-increment: my-awesome-counter;
}
.fonctionnement__consigne__bloc:hover {
  background-color: #F4EDFE;
}
.fonctionnement__consigne__bloc:hover > .fonctionnement__consigne__bloc__container {
  background-color: #F4EDFE;
}
.fonctionnement__consigne__bloc:hover .fonctionnement__consigne__bloc__container__icon {
  color: #9356DC;
}
.fonctionnement__consigne__bloc::before {
  content: counter(my-awesome-counter);
  background-color: #9356DC;
  padding: 6px 9px;
  border-radius: 100%;
  color: white;
  font-size: 11px;
  position: absolute;
  top: 26px;
  left: -10px;
}
.fonctionnement__consigne__bloc__container {
  margin-left: 0px;
}
.fonctionnement__consigne__bloc__container__icon {
  font-size: 18px;
  margin: 0 25px 0 35px;
  color: #696969;
  margin-right: 15px;
  font-family: FontAwesome;
  font-style: normal;
}
.fonctionnement__consigne__bloc__container__texte {
  font-size: 16px;
  font-weight: 500;
}

.restaurants {
  background-color: #F6F6F6;
  height: 1225px;
}
.restaurants__titre {
  margin: 50px 0 30px 20px;
}
.restaurants__bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1060px;
  margin: 0 20px;
}
.restaurants__bloc__a {
  text-decoration: none;
  color: black;
  height: 250px;
  width: 100%;
}
.restaurants__bloc__a__carte {
  background-color: white;
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 3px 4px 7px #EFEFEF;
}
.restaurants__bloc__a__carte__img {
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 173px;
}
.restaurants__bloc__a__carte__nouveau {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 13px;
  background-color: #99E2D0;
  color: #328264;
  z-index: 5;
  height: 30px;
  width: 80px;
  border-radius: 2px;
  /* MODIF */
}
.restaurants__bloc__a__carte__bas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
}
.restaurants__bloc__a__carte__bas__texte {
  margin: 15px 0 0 12px;
}
.restaurants__bloc__a__carte__bas__texte__titre {
  margin: 0 0 3px 0;
  font-size: 19px;
  font-weight: 600;
}
.restaurants__bloc__a__carte__bas__texte__paragraphe {
  margin: 0;
  font-size: 17px;
  font-weight: 200;
}
.restaurants__bloc__a__carte__bas__icon {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  color: black;
}
.restaurants__bloc__a__carte__bas__icon:hover {
  color: transparent;
}
.restaurants__bloc__a__carte__bas__icon:hover::after {
  opacity: 1;
  z-index: 10;
}
.restaurants__bloc__a__carte__bas__icon::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 900;
  font-size: 25px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms linear;
  /*transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: linear;*/
  /* PK CA NE MARCHE PAS */
}

/*font-family: "Font Awesome 5 Free";
                            content: "\f004";*/
.footer {
  height: 197px;
  width: 100%;
  background-color: #353535;
  padding: 23px;
}
.footer__titre {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0 0 20px 0;
}
.footer__texte__ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
}
.footer__texte__ul__li {
  list-style-type: none;
  color: white;
}
.footer__texte__ul__li__icon {
  color: white;
  font-family: FontAwesome;
  font-style: normal;
}
.footer__texte__ul__li__icon--petit {
  font-size: 13px;
}
.footer__texte__ul__li__span {
  margin-left: 10px;
}

/*# sourceMappingURL=main.css.map */
