* {
  box-sizing: border-box;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", sans-serif;
}

@keyframes translate-right {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes translate-right-retour {
  0% {
    width: 20%;
  }
  100% {
    width: 0%;
  }
}
/*@keyframes translate-left {
    0%{ width: 100%; }
    100%{ width: 80%; }
}

@keyframes translate-left-retour {
    0%{ width: 80%; }
    100%{ width: 100%; }
}*/
@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition-box {
  0% {
    z-index: -1;
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    z-index: 3;
    opacity: 1;
    transform: translateY(0px);
  }
}
/*@keyframes menu-apparition {
    0%{ opacity: 0; margin-top: 40px; }
    100% { opacity: 1; margin-top: 0; }

}*/
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.header {
  height: 63px;
  width: 100%;
  z-index: 2;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.header__nav__a {
  position: absolute;
  top: 23px;
  left: 22px;
  color: black;
  height: 17px;
  width: 17px;
}
.header__nav__a__icon {
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: FontAwesome;
  font-style: normal;
}
.header__nav__containerimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.header__nav__containerimg__img {
  height: 51%;
}

.menu {
  width: 100%;
  position: relative;
}
.menu__img {
  object-fit: cover;
  height: 263px;
  width: 100%;
}
.menu__container {
  width: 100%;
  position: absolute;
  top: 220px;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0 0;
}
.menu__container__cadre {
  display: flex;
  flex-direction: column;
  width: 93%;
}
.menu__container__cadre__haut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.menu__container__cadre__haut__h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 100;
  margin: 0 0 0 7px;
}
.menu__container__cadre__haut__icon {
  font-family: FontAwesome;
  font-style: normal;
  font-size: 30px;
  position: relative;
}
.menu__container__cadre__haut__icon:hover {
  color: transparent;
}
.menu__container__cadre__haut__icon:hover::after {
  opacity: 1;
  z-index: 10;
}
.menu__container__cadre__haut__icon::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms linear;
}
.menu__container__cadre__repas__h2 {
  font-size: 16px;
  font-weight: 300;
  margin: 35px 0 6px 7px;
}
.menu__container__cadre__repas__h2--desserts {
  margin-top: 47px;
}
.menu__container__cadre__repas__h2:after {
  content: "";
  display: block;
  width: 42px;
  background-color: #99E2D0;
  height: 3px;
  margin: 6px 0 15px;
}
.menu__container__cadre__repas__plat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 235px;
}
.menu__container__cadre__repas__plat__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  /* MODIF */
  box-shadow: 5px 5px 5px #9c9c9c;
  /* MODIF */
  position: relative;
  overflow: hidden;
}
.menu__container__cadre__repas__plat__box:hover > .menu__container__cadre__repas__plat__box__texte {
  animation: translate-left-aller 1s linear;
}
.menu__container__cadre__repas__plat__box:not(:hover) > .menu__container__cadre__repas__plat__box__texte {
  animation: translate-left-retour 1s linear;
  /* OU translate-left-aller 1s linear reverse; NON ?*/
}
.menu__container__cadre__repas__plat__box:hover > .menu__container__cadre__repas__plat__box__anim {
  animation: translate-right 1s linear;
  animation-fill-mode: forwards;
}
.menu__container__cadre__repas__plat__box:not(:hover) > .menu__container__cadre__repas__plat__box__anim {
  animation: translate-right-retour 1s linear;
  animation-fill-mode: forwards;
  /*animation: translate-left 1s linear; 
  animation-fill-mode: forwards;*/
}
.menu__container__cadre__repas__plat__box:hover .menu__container__cadre__repas__plat__box__anim__icon {
  animation: rotate-icon 1s linear;
  animation-fill-mode: forwards;
}
.menu__container__cadre__repas__plat__box-1 {
  animation-delay: 1s;
  animation: apparition-box 1s;
}
.menu__container__cadre__repas__plat__box-2 {
  animation-delay: 2s;
  animation: apparition-box 2s;
}
.menu__container__cadre__repas__plat__box-3 {
  animation-delay: 3s;
  animation: apparition-box 3s;
}
.menu__container__cadre__repas__plat__box-4 {
  animation-delay: 4s;
  animation: apparition-box 4s;
}
.menu__container__cadre__repas__plat__box-5 {
  animation-delay: 5s;
  animation: apparition-box 5s;
}
.menu__container__cadre__repas__plat__box-6 {
  animation-delay: 6s;
  animation: apparition-box 6s;
}
.menu__container__cadre__repas__plat__box-7 {
  animation-delay: 7s;
  animation: apparition-box 7s;
}
.menu__container__cadre__repas__plat__box-8 {
  animation-delay: 8s;
  animation: apparition-box 8s;
}
.menu__container__cadre__repas__plat__box-9 {
  animation-delay: 9s;
  animation: apparition-box 9s;
}
.menu__container__cadre__repas__plat__box-10 {
  animation-delay: 10s;
  animation: apparition-box 10s;
}
.menu__container__cadre__repas__plat__box__texte {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 13px 20px 12px 10px;
  width: 92%;
  height: 42px;
}
.menu__container__cadre__repas__plat__box__texte__h3 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  /*width: 50px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__container__cadre__repas__plat__box__texte__nometprix {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menu__container__cadre__repas__plat__box__texte__nometprix__nom {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__container__cadre__repas__plat__box__texte__nometprix__prix {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
}
.menu__container__cadre__repas__plat__box__anim {
  background-color: #99E2D0;
  height: 100%;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__container__cadre__repas__plat__box__anim__icon {
  color: white;
  font-size: 25px;
}
.menu__container__cadre__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 6px 10px #B9BABA;
  text-decoration: none;
  border-radius: 30px;
  font-size: 17px;
  font-weight: 500;
  padding: 15px 45px;
  width: 53%;
  height: 50px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.menu__container__cadre__btn:hover {
  box-shadow: 4px 7px 11px #9c9c9c;
}
.menu__container__cadre__btn:hover::after {
  opacity: 1;
}
.menu__container__cadre__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  background: linear-gradient(to bottom, #ff93e1, #a16be0);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.footer {
  height: 197px;
  width: 100%;
  background-color: #353535;
  padding: 23px;
}
.footer__titre {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0 0 20px 0;
}
.footer__texte__ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95px;
}
.footer__texte__ul__li {
  list-style-type: none;
  color: white;
}
.footer__texte__ul__li__icon {
  color: white;
  font-family: FontAwesome;
  font-style: normal;
}
.footer__texte__ul__li__icon--petit {
  font-size: 13px;
}
.footer__texte__ul__li__span {
  margin-left: 10px;
}

@media screen and (min-width: 1110px) {
  .menu {
    display: flex;
    justify-content: center;
  }
  .menu__container {
    width: 65%;
  }
  .menu__container__cadre__repas {
    /*display: flex;
    flex-direction: row;*/
  }
}

/*# sourceMappingURL=menu.css.map */
