.presentation {
    display: flex;
    @include fd-c;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 285px;
    background-color: #F6F6F6;
    box-shadow: 0 -1px 4px #EAEAEA;
    &__titre {
        height: 55px;
        margin: 38px 0 19px;
        font-size: 24px;
        font-weight: 600;
    }
    &__paragraphe {
        font-size: 18px;
        font-weight: 200;
        margin: 0 0 30px;
    }
    &__btn {
        background: linear-gradient(to bottom, $secondaire, $primaire);
        color: white;
        box-shadow: 2px 5px 9px #CACACB;
        text-decoration: none;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 400;
        padding: 15px 20px;
        position: relative;
        z-index: 1;
        &:hover {
            box-shadow: 3px 6px 10px #aaaaaa;
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 30px;
            background: radial-gradient();
            background: linear-gradient(
            to bottom,
            lighten($secondaire, 5),
            lighten($primaire, 5));
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}

@media screen and (min-width : 1110px ) {
    .presentation {
        &__paragraphe__br {
            display: none;
        }
    }
}