.menu {
    height: 1417px; /**/
    &__container {
        height: 1196px; /**/
        &__cadre {
            margin: 37px 12px 65px; /**/
            &__repas {
                &__h2--plats {
                    margin-top: 37px; /**/  
                }
                &__plat {
                    &--grand {
                    height: 255px; 
                    }
                    &__box--grand {  
                        height: 90px;
                    }
                }
            }
            &__btn {
                margin-top: 50px; /**/
            }
        }
    }
}