* {
    box-sizing: border-box;
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
}
 

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
/* AC */
$quaternaire : #F6F6F6;
$color-rech : #EAEAEA;
$color-n : #328264;
 

@mixin jc-ai-c {
    justify-content: center;
    align-items: center;
}

@mixin jc-sb-ai-c {
    justify-content: space-between;
    align-items: center;
}

@mixin fd-c {
    flex-direction: column;
}

@keyframes spin {
    0%{ transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100%{ transform: rotate(720deg);}
}

@keyframes disparition {
    0% { opacity: 1; z-index: 10;}
    75% {opacity: 1;}
    100%{ opacity: 0; z-index: 0;}
}

@keyframes coeur-anim {
    0%{ opacity: 0; z-index: -1;}
    100%{ opacity: 1; z-index: 10;}
}




body {
    display: flex;
    @include fd-c;
    align-items: center;
    width: 100%;
} 

.chargement {
    display: flex;
    position: fixed;
    @include jc-ai-c;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.536);
    animation: disparition 3s linear;
    z-index: -11;
    &__cercle {
        width: 120px;
        height: 120px;
        border: 8px solid #eeeeee;
        border-radius: 50%;
        border-top-color: $primaire;
        border-bottom-color: $secondaire;
        animation: spin 3s linear;
        z-index: -12;
        /*&::after {
            content: "";
            position: absolute;
            top: -8px;
            right: 0;
            bottom: 0;
            left: -8px;
            width: 104px;
            height: 104px;
            border: 8px solid $primaire;
            border-right-color: transparent;
            border-radius: 50%;
            stroke-linecap: round;
            animation: spin 3s;  
            z-index: -12;
        }*/
    }
}


.header {
    width: 100%;
    height: 63px;
    box-shadow: 0px 2px 5px 0px #CCCCCC;
    /*z-index: 2; 
    opacity: 0;
    &::after {
        content: "";
        transition: opacity 2s;
        opacity: 1;
    }*/
    &__nav {
        display: flex;
        @include jc-ai-c;
        height: 100%;
        &__img {
            height: 51%;
       }
    }
}

main {
    width: 100%;
    background-color: white;
    display: flex;
    @include fd-c;
}

.recherche /* MODIF */ {
    height: 50px;
    width: 100%;
    background-color: $color-rech;
    display: flex;
    @include jc-ai-c;
    &__form {
        display: flex;
        @include jc-sb-ai-c;
        width: 37%;
        &__input {
            width: 100%;
            height: 17px;
            border: none;
            background-color: $color-rech;
            text-align: center;
            &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f3c5";
                font-weight: 900;
                color: red;
            }
        }
    }
}

.presentation {
    display: flex;
    @include fd-c;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 285px;
    background-color: #F6F6F6;
    box-shadow: 0 -1px 4px #EAEAEA;
    &__titre {
        height: 55px;
        margin: 38px 0 19px;
        font-size: 24px;
        font-weight: 600;
    }
    &__paragraphe {
        font-size: 18px;
        font-weight: 200;
        margin: 0 0 30px;
    }
    &__btn {
        background: linear-gradient(to bottom, $secondaire, $primaire);
        color: white;
        box-shadow: 2px 5px 9px #CACACB;
        text-decoration: none;
        border-radius: 30px;
        font-size: 17px;
        font-weight: 400;
        padding: 15px 20px;
        position: relative;
        z-index: 1;
        &:hover {
            box-shadow: 3px 6px 10px #aaaaaa;
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 30px;
            background: radial-gradient();
            background: linear-gradient(
            to bottom,
            lighten($secondaire, 5),
            lighten($primaire, 5));
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
        /*&:hover {
            @include light($primaire, $secondaire);  CETTE LIGNE ET LA SUIVANTE NE MARCHE PAS ! 
            @include intence-shadow;
        }*/
    }
}


.fonctionnement {
    height: 440px;
    margin: 0 20px;
    &__titre {
        margin: 50px 0 30px;
    }
    &__consigne {
        display: flex;
        @include fd-c;
        justify-content: space-between;
        align-items: flex-end;
        height: 270px;
        width: 100%;
        padding: 0;
        margin: 0;
        counter-reset: my-awesome-counter;
        list-style: none;
        position: relative;
        &__bloc {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 97%;
            background-color: $quaternaire;
            box-shadow: 2px 5px 10px #e7e6e9;
            border-radius: 25px;
            height: 75px;
            position: relative;
            counter-increment: my-awesome-counter;
            &:hover {
                background-color: #F4EDFE;
            }
            &:hover > &__container {
                background-color: #F4EDFE;
            }
            &:hover &__container__icon {
                color: $primaire;
            }
            &::before {
                content: counter(my-awesome-counter);
                background-color: $primaire;
                padding: 6px 9px;
                border-radius: 100%;
                color: white;
                font-size: 11px;
                position: absolute;
                top: 26px;
                left: -10px;
            }
            &__container {
                margin-left: 0px;
                &__icon {
                    font-size: 18px;
                    margin: 0 25px 0 35px;
                    color: #696969; 
                    margin-right: 15px;
                    font-family: FontAwesome;
                    font-style: normal;
                }
                &__texte {
                    font-size: 16px;
                    font-weight: 500;
                } 
            }
            
        }
            
    }
}
    /* &__consigne {
        display: flex;
        @include fd-c;
        justify-content: space-between;
        align-items: flex-end;
        height: 270px;
        width: 100%;
        &__bloc {
            width: 97%;
            position: relative;
            &:hover &__con{
                background-color: #F3EDFD; /* MODIF */
          /*  }
            &:hover &__con__container__icon {
                color: #9356DC;
            }
            &__num {
                padding: 5px 8px;
                background-color: $primaire;
                color: white;
                height: 24px;
                width: 24px;
                border-radius: 100%;
                position: absolute;
                left: -10px;
                top: 25px;
                font-size: 14px;
            }
            &__con {
                width: 100%;
                background-color: $quaternaire;
                box-shadow: 5px 5px 5px #9c9c9c;
                border-radius: 30px;
                height: 75px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                &__container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    &__icon {
                        font-size: 20px;
                        margin-left: 35px;
                        color: #6B6B6C; /* MODIF */
                  /*  }
                    &__texte {
                        font-size: 16px;
                        font-weight: 500;
                        margin-left: 25px;
                    }
                } 
            }      
        }
    } */


.restaurants {
    background-color: $quaternaire;
    height: 1225px;
    &__titre {
        margin: 50px 0 30px 20px;
    }
    &__bloc {
        display: flex;
        @include fd-c;
        @include jc-sb-ai-c;
        height: 1060px;
        margin: 0 20px;
        &__a {
            text-decoration: none;
            color: black;
            height: 250px;
            width: 100%;
            &__carte {
                background-color: white;
                border-radius: 15px;
                position: relative;
                width: 100%;
                height: 250px;
                box-shadow: 3px 4px 7px #EFEFEF;
                &__img {
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                    width: 100%;
                    height: 173px;
                }
                &__nouveau {
                    position: absolute;
                    display: flex;
                    @include jc-ai-c;
                    right: 15px;
                    top: 13px;
                    background-color: $tertiaire;
                    color: $color-n;
                    z-index: 5;
                    height: 30px;
                    width: 80px;
                    border-radius: 2px; /* MODIF */
                }
                &__bas {
                    display: flex;
                    @include jc-sb-ai-c;
                    width: 94%; 
                    &__texte {
                        margin: 15px 0 0 12px;
                        &__titre {
                            margin: 0 0 3px 0;
                            font-size: 19px;
                            font-weight: 600;
                        }
                        &__paragraphe {
                            margin: 0;
                            font-size: 17px;
                            font-weight: 200;
                        }
                    }
                    &__icon {
                        font-family: FontAwesome;
                        font-style: normal;
                        font-size: 25px;
                        font-weight: 100;
                        position: relative;
                        color: black;
                        &:hover {
                            color: transparent;
                            &::after {
                                opacity: 1;
                                z-index: 10;
                            }
                        }
                        &::after {
                            font-family: "Font Awesome 5 Free";
                            content: "\f004";
                            font-weight: 900;
                            font-size: 25px;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            background-image: linear-gradient(to bottom, $secondaire, $primaire);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            z-index: -1;
                            opacity: 0;
                            transition: opacity 250ms linear;
                            /*transition-property: opacity;
                            transition-duration: 250ms;
                            transition-timing-function: linear;*/
                            /* PK CA NE MARCHE PAS */
                        }  
                    }
                }
                
            }

        }
        
    }
}

/*font-family: "Font Awesome 5 Free";
                            content: "\f004";*/

.footer {
    height: 197px;
    width: 100%;
    background-color: #353535;
    padding: 23px;
    &__titre {
        color: white;
        font-family: 'Shrikhand', cursive;
        margin: 0 0 20px 0;
    }
    &__texte__ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95px;
        &__li {
            list-style-type: none;
            color: white;
            &__icon {
                color: white;
                font-family: FontAwesome;
                font-style: normal;
                &--petit {
                    font-size: 13px;    
                }
            }
            &__span {
                margin-left: 10px;
            }
        }
    }
}