
/*  menu 1 */
menu {
    height: 1380px; /**/
    &__container {
        height: 1160px; /**/
        &__cadre {
            margin: 37px 12px 58px; /**/
            &__repas {
                &__h2--plats {
                        margin-top: 37px; /**/  
                }
                &__plat__box__texte__nometprix__nom {
                    width: 84%; /**/
                }
            }
            &__btn {
                margin-top: 45px; /**/
            }
        }
    }
}

/*  menu 2 */
.menu {
    height: 1493px; /**/
    &__container {
        height: 1272px; /**/
        &__cadre {
            margin: 37px 12px 72px; /**/
            &__repas {
                &__h2--plats {
                    margin-top: 50px; /**/  
                }
                &__plat {
                    &--quatre { /**/
                        height: 315px;
                    }
                    &__box__texte__nometprix__nom {
                        width: 85%; /**/
                    }
                }
            }
            &__btn {
                margin-top: 50px; /**/
            }
        }
    }
}

/*  menu 3 */
.menu {
    height: 1417px; /**/
    &__container {
        height: 1196px; /**/
        &__cadre {
            margin: 37px 12px 83px; /**/
            &__repas {
                &__h2--plats {
                    margin-top: 43px; /**/  
                }
            }
            &__btn {
                margin-top: 50px; /**/
            }
        }
    }
}

/*  menu 4 */
.menu {
    height: 1417px; /**/
    &__container {
        height: 1196px; /**/
        &__cadre {
            margin: 37px 12px 65px; /**/
            &__repas {
                &__h2--plats {
                    margin-top: 37px; /**/  
                }
                &__plat {
                    &--grand {
                    height: 255px; 
                    }
                    &__box--grand {  
                        height: 90px;
                    }
                }
            }
            &__btn {
                margin-top: 50px; /**/
            }
        }
    }
}