/*  menu 1 */
.menu.la-palette-du-gout {
    height: 1380px; /**/
    .menu__container {
        height: 1160px; /**/
        &__cadre {
            margin: 37px 12px 58px; /**/
            &__cont__repas {
                &__h2--plats {
                        margin-top: 37px; /**/  
                }
                &__plat__box__texte__nometprix__nom {
                    width: 84%; /**/
                }
            }
            &__btn {
                margin-top: 45px; /**/
            }
        }
    }
}