@use '../utils/variables' as *;
@use '../utils/mixins' as *;

/* ANIMATION */

@keyframes translate-right {
    0%{ width: 0%; }
    100%{ width: 20%; }
}

@keyframes translate-right-retour {
    0%{ width: 20%; }
    100%{ width: 0%; }
}

@keyframes rotate-icon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes apparition-box {
    0% { z-index: -1; opacity: 0; transform: translateY(10px);}
    100% { z-index: 3; opacity: 1; transform: translateY(0px);}
}


/* CODE */

body {
    justify-content: flex-start;
    margin: 0;
}

.header {
    height: 63px;
    width: 100%;
    z-index: 2; 
    &__nav {
        display: flex;
        @include jc-ai-c;
        height: 100%;
        position: relative;
        &__a {
            position: absolute;
            top: 23px;
            left: 22px;
            color: black;
            height: 17px;
            width: 17px;
            &__icon { 
                height: 100%;
                width: 100%;
                font-size: 20px;
                font-family: FontAwesome;
                font-style: normal;
            }
        }
        &__containerimg {
            display: flex;
            @include jc-ai-c;
            height: 100%;
            width: 100%;
            &__img {
                height: 51%;
            }
        }
    }
}

.menu {
    width: 100%;
    position: relative;
    &__img {
        object-fit: cover;
        height: 263px;
        width: 100%;
    }
    &__container {
        background-color: aqua;
        width: 100%;
        position: absolute;
        top: 220px;
        background-color: #F6F6F6;
        border-radius: 40px 40px 0 0;
        &__cadre {
            display: flex;
            flex-direction: column;
            width: 93%; 
            margin: 37px 12px 58px;
            &__haut {
                display: flex;
                @include jc-sb-ai-c;
                width: 95%;
                &__h1 {
                    font-family: 'Shrikhand', cursive;
                    font-size: 28px;
                    font-weight: 100;
                    margin: 0 0 0 7px;
                }
                &__icon {
                    font-family: FontAwesome;
                    font-style: normal;
                    font-size: 30px;
                    position: relative;
                    &:hover {
                        color: transparent;
                        &::after {
                            opacity: 1;
                            z-index: 10;
                        }
                    }
                    &::after {
                        font-family: "Font Awesome 5 Free";
                        content: "\f004";
                        font-weight: 900;
                        font-size: 30px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        background-image: linear-gradient(to bottom, $secondaire, $primaire);
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;
                        z-index: -1;
                        opacity: 0;
                        transition: opacity 250ms linear;
                    }  
                }
            }
            &__cont {
                &__repas {
                    &__h2 {
                        font-size: 16px;
                        font-weight: 300;
                        margin: 35px 0 6px 7px;
                        &--desserts {
                            margin-top: 47px;
                        }
                        &:after {
                            content: "";
                            display: block;
                            width: 42px;
                            background-color: $tertiaire;
                            height: 3px;
                            margin: 6px 0 15px;
                        }  
                    }
                    &__plat {
                        display: flex;
                        flex-direction: column;
                        @include jc-sb-ai-c;
                        height: 235px; 
                        &__box {
                            display: flex;
                            @include jc-sb-ai-c;
                            height: 70px;
                            width: 100%;
                            background-color: white;
                            border-radius: 15px; /* MODIF */
                            box-shadow: 5px 5px 5px #9c9c9c; /* MODIF */
                            position: relative;
                            overflow: hidden;
                            &:hover > &__texte {
                                animation: translate-left-aller 1s linear; 
                            }
                            &:not(:hover) > &__texte {
                                animation: translate-left-retour 1s linear ; 
                            }
                            &:hover > &__anim {
                                animation: translate-right 1s linear; 
                                animation-fill-mode: forwards;
                            }
                            &:not(:hover) > &__anim {
                                animation: translate-right-retour 1s linear; 
                                animation-fill-mode: forwards;
                                
                            }
                            &:hover &__anim__icon {
                                animation: rotate-icon 1s linear; 
                                animation-fill-mode: forwards;
                            }
                            @for $i from 1 to 11 {
                                &-#{$i} {
                                    animation-delay: $i * 1s;
                                    animation: apparition-box $i * 1s;
                                }  
                            }
                            /* 
                            @keyframes apparition-box {
                            0% { z-index: -1; opacity: 0; transform: translateY(10px);}
                            100% { z-index: 3; opacity: 1; transform: translateY(0px);}
} */
                            &__texte {
                                display: flex;
                                @include fd-c;
                                justify-content:    space-between;
                                align-items: flex-start;
                                margin: 13px 20px 12px  10px;
                                width: 92%;
                                height: 42px;
                                
                                &__h3 {
                                    margin: 0;
                                    font-weight: 500;
                                    font-size: 18px;
                                    /*width: 50px;*/
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow:  ellipsis;
                                }
                                &__nometprix {
                                    margin-top: 5px;
                                    display: flex;
                                    @include jc-sb-ai-c;
                                    width: 100%;
                                    &__nom {
                                        margin: 0;
                                        font-weight: 300;
                                        font-size: 15px;
                                        white-space:    nowrap;
                                        overflow: hidden;
                                        text-overflow:  ellipsis;
                                    }
                                    &__prix {
                                        margin: 0;
                                        font-weight: 500;
                                        font-size: 15px;
                                    }
                                }
                            }
                            &__anim {
                                background-color: $tertiaire;
                                height: 100%;
                                width: 0%;
                                display: flex;
                                @include jc-ai-c;
                                &__icon {
                                    color: white;
                                    font-size: 25px;
                                }
                            }
                        }
                    }
                }
            }
            &__btn {
                    display: flex;
                    @include jc-ai-c;
                    text-decoration: none;
                    color: black;
                    background: linear-gradient(to bottom, $secondaire, $primaire);
                    color: white;
                    box-shadow: 3px 6px 10px #B9BABA;
                    text-decoration: none;
                    border-radius: 30px;
                    font-size: 17px;
                    font-weight: 500;
                    padding: 15px 45px;
                    width: 53%;
                    height: 50px;
                    margin: auto;
                    position: relative;
                    z-index: 1;
                    &:hover {
                        box-shadow: 4px 7px 11px #9c9c9c;
                        &::after {
                            opacity: 1;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 30px;
                        background: linear-gradient(
                        to bottom,
                        lighten($secondaire, 5),
                        lighten($primaire, 5));
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 250ms;
                    }
            }
            
        }
    }
}


/* RESPONSIVE */

@media screen and (min-width : 550px ) {
    .menu__container__cadre { 
        margin: auto ;
    }
}

@media screen and (min-width : 1110px ) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__container {
            width: 65%;
        }
    }
}

@media screen and (min-width : 1610px ) {
    .main {
        height: 700px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 800px;
        &__container {
            height: 575px;
            &__cadre__cont { 
                display: flex;
                flex-direction: row; 
                justify-content: space-between;
                align-items: center;
                width: 100%;   
                &__repas__plat {
                        width: 95%;
                }   
            }
        }
    }
} 